body{
    background-color:#F4F7F6;
}
.containerProd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.title{
    font-size: 2rem;
}

.content{
    font-size: 1.5rem;
}



